In [47]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
df = pd.read_excel('Dataset-4.xlsx')

In [25]:
pd.set_option('display.max_columns', None)

In [26]:
df.head()

,id. Response ID,submitdate. Date submitted,Month Year[subm...Date submitted],Month[Month Yea...ate submitted]],Year[Month Year...ate submitted]],lastpage. Last page,Carmain,Previous PHEVs,Previous BEVs,Previous HEVs,Previous CNGs,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Home ownership (own 1),Home Type (detached 1),Highest Level of Education,Longest trip in the last 12 months,Number of trips over 200 miles in the last 12 months,One-way commute distance,Number of people in the household,Age,Gender (Male 1),Number of vehicles in the household,Annual VMT Estimate,"FCV, BEV Dummy"
0,FCV_1_3,2017/06/02 11:30:57,06/2017,6.0,2017.0,42.0,2016 Toyota Mirai,1.0,0.0,0.0,0.0,275000.0,2.52,1.0,1.0,3.0,483.14,0.0,0.01,2.0,65.0,0.0,2,14622.000000,0.0
1,FCV_1_4,2017/06/02 11:15:39,06/2017,6.0,2017.0,42.0,2016 Toyota Mirai,0.0,0.0,1.0,0.0,275000.0,2.76,1.0,1.0,4.0,568.09,1.0,10.69,3.0,65.0,0.0,3,9197.142857,0.0
2,FCV_1_2,2017/06/02 10:51:59,06/2017,6.0,2017.0,42.0,2016 Toyota Mirai,1.0,1.0,0.0,0.0,NaN,NaN,1.0,1.0,4.0,398.57,0.0,9.39,5.0,55.0,1.0,4,15360.000000,0.0
3,FCV_1_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
4,FCV_1_15,2017/06/02 19:35:59,06/2017,6.0,2017.0,42.0,2017 Toyota Mirai,1.0,0.0,0.0,0.0,125000.0,2.60,1.0,1.0,2.0,255.16,0.0,17.63,2.0,55.0,0.0,3,5082.352941,0.0

In [27]:
df = df.drop(columns=['id. Response ID','submitdate. Date submitted','Month Year[subm...Date submitted]','Month[Month Yea...ate submitted]]','Year[Month Year...ate submitted]]','lastpage. Last page','Home ownership (own 1)','Home Type (detached 1)','Longest trip in the last 12 months','One-way commute distance','Number of people in the household'],axis=0)

In [28]:
df.head()

,Carmain,Previous PHEVs,Previous BEVs,Previous HEVs,Previous CNGs,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Highest Level of Education,Number of trips over 200 miles in the last 12 months,Age,Gender (Male 1),Number of vehicles in the household,Annual VMT Estimate,"FCV, BEV Dummy"
0,2016 Toyota Mirai,1.0,0.0,0.0,0.0,275000.0,2.52,3.0,0.0,65.0,0.0,2,14622.000000,0.0
1,2016 Toyota Mirai,0.0,0.0,1.0,0.0,275000.0,2.76,4.0,1.0,65.0,0.0,3,9197.142857,0.0
2,2016 Toyota Mirai,1.0,1.0,0.0,0.0,NaN,NaN,4.0,0.0,55.0,1.0,4,15360.000000,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
4,2017 Toyota Mirai,1.0,0.0,0.0,0.0,125000.0,2.60,2.0,0.0,55.0,0.0,3,5082.352941,0.0

In [32]:
df['Model Name'] = df['Carmain'].str.replace(r'\b\d{4}\b','')

C:\Users\aarav\AppData\Local\Temp\ipykernel_10568\547899628.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Model Name'] = df['Carmain'].str.replace(r'\b\d{4}\b','')

In [35]:
df = df.drop(columns = 'Carmain',axis=0)

In [36]:
df.head()

,Previous PHEVs,Previous BEVs,Previous HEVs,Previous CNGs,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Highest Level of Education,Number of trips over 200 miles in the last 12 months,Age,Gender (Male 1),Number of vehicles in the household,Annual VMT Estimate,"FCV, BEV Dummy",Model Name
0,1.0,0.0,0.0,0.0,275000.0,2.52,3.0,0.0,65.0,0.0,2,14622.000000,0.0,Toyota Mirai
1,0.0,0.0,1.0,0.0,275000.0,2.76,4.0,1.0,65.0,0.0,3,9197.142857,0.0,Toyota Mirai
2,1.0,1.0,0.0,0.0,NaN,NaN,4.0,0.0,55.0,1.0,4,15360.000000,0.0,Toyota Mirai
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
4,1.0,0.0,0.0,0.0,125000.0,2.60,2.0,0.0,55.0,0.0,3,5082.352941,0.0,Toyota Mirai

In [37]:
df.isnull().sum()

Previous PHEVs                                                                     11077
Previous BEVs                                                                      11077
Previous HEVs                                                                      11077
Previous CNGs                                                                      11077
Household Income                                                                   10057
Importance of reducing greenhouse gas emissions (-3 not important, 3 important)     8519
Highest Level of Education                                                          8004
Number of trips over 200 miles in the last 12 months                               11836
Age                                                                                 5418
Gender (Male 1)                                                                     5454
Number of vehicles in the household                                                    0
Annual VMT Estimate                                                                 8196
FCV, BEV Dummy                                                                     12977
Model Name                                                                          1405
dtype: int64

In [38]:
df.shape

(27021, 14)

In [39]:
df['Previous PHEVs'].unique()

array([ 1.,  0., nan])

In [43]:
df = df.dropna()

In [44]:
df.head()

,Previous PHEVs,Previous BEVs,Previous HEVs,Previous CNGs,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Highest Level of Education,Number of trips over 200 miles in the last 12 months,Age,Gender (Male 1),Number of vehicles in the household,Annual VMT Estimate,"FCV, BEV Dummy",Model Name
0,1.0,0.0,0.0,0.0,275000.0,2.52,3.0,0.0,65.0,0.0,2,14622.000000,0.0,Toyota Mirai
1,0.0,0.0,1.0,0.0,275000.0,2.76,4.0,1.0,65.0,0.0,3,9197.142857,0.0,Toyota Mirai
4,1.0,0.0,0.0,0.0,125000.0,2.60,2.0,0.0,55.0,0.0,3,5082.352941,0.0,Toyota Mirai
5,0.0,0.0,1.0,0.0,175000.0,1.23,4.0,1.0,75.0,0.0,2,13025.454545,0.0,Toyota Mirai
7,0.0,0.0,1.0,0.0,500000.0,1.08,2.0,1.0,45.0,0.0,3,18000.000000,0.0,Toyota Mirai

In [45]:
df.isnull().sum()

Previous PHEVs                                                                     0
Previous BEVs                                                                      0
Previous HEVs                                                                      0
Previous CNGs                                                                      0
Household Income                                                                   0
Importance of reducing greenhouse gas emissions (-3 not important, 3 important)    0
Highest Level of Education                                                         0
Number of trips over 200 miles in the last 12 months                               0
Age                                                                                0
Gender (Male 1)                                                                    0
Number of vehicles in the household                                                0
Annual VMT Estimate                                                                0
FCV, BEV Dummy                                                                     0
Model Name                                                                         0
dtype: int64

In [46]:
df.shape

(5842, 14)

In [6]:
df.to_csv('Harsh Priyam-Cleaned-US-Based-Dataset.csv')