In [214]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [215]:
D_102 = pd.read_csv("/Users/nisarg/Downloads/EV_Market_segmentation/collected datasets/102.csv")
D_103 = pd.read_csv("/Users/nisarg/Downloads/EV_Market_segmentation/collected datasets/103.csv")
D_105 = pd.read_csv("/Users/nisarg/Downloads/EV_Market_segmentation/collected datasets/105.csv")
D_107 = pd.read_csv("/Users/nisarg/Downloads/EV_Market_segmentation/collected datasets/107.csv")

In [216]:
D_102 = D_102.rename(columns = {"State/UT" : "State Name"})
D_103 = D_103.rename(columns = {"State/UT" : "State Name"})
D_107 = D_107.rename(columns = {"State/UT" : "State Name"})

D_105 = D_105.drop('Sr. No.',axis = 1)
D_107 = D_107.drop('hoi',axis = 1)


D_102 = D_102.sort_values(by=["State Name"]).reset_index().drop(['index'],axis =1)
D_103 = D_103.sort_values(by=["State Name"]).reset_index().drop(['index'],axis =1)
D_105 = D_105.sort_values(by=["State Name"]).reset_index().drop(['index'],axis =1)
D_107 = D_107.sort_values(by=["State Name"]).reset_index().drop(['index'],axis =1)

In [217]:
final_dfs = pd.concat(
    objs=(iDF.set_index('State Name') for iDF in dfs),
    axis=1, 
    join='outer'
).reset_index()

In [218]:
final_dfs

,State Name,No. of EV Chargers Sanctioned,No of RO's where EV Charging Facility available,Total Electric Vehicle,Total Non-Electric Vehicle,Total,Total Number of Invoices/Sales
0,Andaman and Nicobar (Port Blair),10.0,NaN,NaN,NaN,NaN,NaN
1,Andhra Pradesh,266.0,65.0,NaN,NaN,NaN,6393.0
2,Assam,20.0,19.0,64766,"46,77,053","47,41,819",827.0
3,Bihar,37.0,26.0,83335,"1,04,07,078","1,04,90,413",5255.0
4,Chandigarh,70.0,4.0,2812,"7,46,881","7,49,693",154.0
5,Chhattisgarh,25.0,51.0,20966,"68,36,200","68,57,166",3573.0
6,Delhi,72.0,66.0,"1,56,393","76,85,600","78,41,993",12850.0
7,Gujarat,278.0,87.0,45272,"2,06,05,484","2,06,50,756",5839.0
8,Haryana,50.0,114.0,37035,"1,07,78,270","1,08,15,305",4667.0
9,Himachal Pradesh,10.0,13.0,1175,"19,64,754","19,65,929",446.0
10,Jammu and Kashmir,25.0,3.0,2941,"18,69,962","18,72,903",NaN
11,Karnataka,172.0,100.0,"1,20,532","2,68,70,303","2,69,90,835",33483.0
12,Kerala,211.0,39.0,30775,"1,57,74,078","1,58,04,853",4851.0
13,Madhya Pradesh,235.0,167.0,NaN,NaN,NaN,6306.0
14,Maharashtra,317.0,NaN,"1,16,646","3,10,58,990","3,11,75,636",20955.0
15,Meghalaya,40.0,3.0,49,"4,59,001","4,59,050",10.0
16,Odisha,18.0,26.0,23371,"98,45,073","98,68,444",4454.0
17,Puducherry,10.0,NaN,2149,"12,13,735","12,15,884",259.0
18,Rajasthan,205.0,174.0,81338,"1,73,27,388","1,74,08,726",14326.0
19,Sikkim,29.0,NaN,21,97189,97210,1.0
20,Tamil Nadu,281.0,76.0,82051,"2,98,42,376","2,99,24,427",24632.0
21,Telangana,138.0,112.0,NaN,NaN,NaN,6316.0
22,Total,2877.0,NaN,NaN,NaN,NaN,178521.0
23,Uttar Pradesh,207.0,128.0,"3,37,180","4,00,92,490","4,04,29,670",11853.0
24,Uttarakhand,10.0,10.0,31008,"33,12,041","33,43,049",2288.0
25,West Bengal,141.0,71.0,48767,"1,41,34,171","1,41,82,938",1347.0
26,Arunachal Pradesh,NaN,4.0,20,"2,52,965","2,52,985",1.0
27,Goa,NaN,17.0,3870,"10,71,570","10,75,440",614.0
28,Grand Total,NaN,1536.0,NaN,NaN,NaN,NaN
29,Jharkhand,NaN,22.0,16811,"64,86,937","65,03,748",1874.0
30,Leh,NaN,2.0,NaN,NaN,NaN,NaN
31,Maharastra,NaN,88.0,NaN,NaN,NaN,NaN
32,Manipur,NaN,1.0,586,"4,99,324","4,99,910",140.0
33,Nagaland,NaN,2.0,58,"3,39,129","3,39,187",NaN
34,Pondicherry,NaN,2.0,NaN,NaN,NaN,NaN
35,Punjab,NaN,41.0,14804,"1,24,63,019","1,24,77,823",2977.0
36,Tripura,NaN,3.0,9262,"6,50,026","6,59,288",750.0
37,Andaman & Nicobar Island,NaN,NaN,162,"1,46,945","1,47,107",NaN
38,Andra Pradesh,NaN,NaN,NaN,NaN,NaN,NaN
39,Ladakh,NaN,NaN,26,38302,38328,6.0
40,Lakshadweep,NaN,NaN,NaN,NaN,NaN,4.0
41,Mizoram,NaN,NaN,21,"3,15,626","3,15,647",NaN
42,UT of DNH and DD,NaN,NaN,183,"3,07,671","3,07,854",NaN
43,Andaman and Nicobar Islands,NaN,NaN,NaN,NaN,NaN,3.0
44,Dadra and Nagar Haveli and Daman and Diu,NaN,NaN,NaN,NaN,NaN,31.0
45,Jammu Kashmir,NaN,NaN,NaN,NaN,NaN,1036.0

In [219]:
final_dfs["State Name"] = final_dfs["State Name"].astype("string")

In [220]:
final_dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 7 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   State Name                                       46 non-null     string
 1   No. of EV Chargers Sanctioned                    26 non-null     float64
 2   No of RO's where EV Charging Facility available  32 non-null     float64
 3   Total Electric Vehicle                           32 non-null     object
 4   Total Non-Electric Vehicle                       32 non-null     object
 5   Total                                            32 non-null     object
 6   Total Number of Invoices/Sales                   35 non-null     float64
dtypes: float64(3), object(3), string(1)
memory usage: 2.6+ KB

In [221]:
a = ['Total','Grand Total','UT of DNH and DD','Andaman and Nicobar Islands','Dadra and Nagar Haveli and Daman and Diu','Jammu Kashmir','Andaman & Nicobar Island','Andra Pradesh',
    'Maharastra','Pondicherry']
final_dfs = final_dfs[~final_dfs['State Name'].isin(a)]

In [222]:
final_dfs = final_dfs.sort_values(by="State Name").reset_index().drop(['index'],axis = 1)
final_dfs

,State Name,No. of EV Chargers Sanctioned,No of RO's where EV Charging Facility available,Total Electric Vehicle,Total Non-Electric Vehicle,Total,Total Number of Invoices/Sales
0,Andaman and Nicobar (Port Blair),10.0,NaN,NaN,NaN,NaN,NaN
1,Andhra Pradesh,266.0,65.0,NaN,NaN,NaN,6393.0
2,Arunachal Pradesh,NaN,4.0,20,"2,52,965","2,52,985",1.0
3,Assam,20.0,19.0,64766,"46,77,053","47,41,819",827.0
4,Bihar,37.0,26.0,83335,"1,04,07,078","1,04,90,413",5255.0
5,Chandigarh,70.0,4.0,2812,"7,46,881","7,49,693",154.0
6,Chhattisgarh,25.0,51.0,20966,"68,36,200","68,57,166",3573.0
7,Delhi,72.0,66.0,"1,56,393","76,85,600","78,41,993",12850.0
8,Goa,NaN,17.0,3870,"10,71,570","10,75,440",614.0
9,Gujarat,278.0,87.0,45272,"2,06,05,484","2,06,50,756",5839.0
10,Haryana,50.0,114.0,37035,"1,07,78,270","1,08,15,305",4667.0
11,Himachal Pradesh,10.0,13.0,1175,"19,64,754","19,65,929",446.0
12,Jammu and Kashmir,25.0,3.0,2941,"18,69,962","18,72,903",NaN
13,Jharkhand,NaN,22.0,16811,"64,86,937","65,03,748",1874.0
14,Karnataka,172.0,100.0,"1,20,532","2,68,70,303","2,69,90,835",33483.0
15,Kerala,211.0,39.0,30775,"1,57,74,078","1,58,04,853",4851.0
16,Ladakh,NaN,NaN,26,38302,38328,6.0
17,Lakshadweep,NaN,NaN,NaN,NaN,NaN,4.0
18,Leh,NaN,2.0,NaN,NaN,NaN,NaN
19,Madhya Pradesh,235.0,167.0,NaN,NaN,NaN,6306.0
20,Maharashtra,317.0,NaN,"1,16,646","3,10,58,990","3,11,75,636",20955.0
21,Manipur,NaN,1.0,586,"4,99,324","4,99,910",140.0
22,Meghalaya,40.0,3.0,49,"4,59,001","4,59,050",10.0
23,Mizoram,NaN,NaN,21,"3,15,626","3,15,647",NaN
24,Nagaland,NaN,2.0,58,"3,39,129","3,39,187",NaN
25,Odisha,18.0,26.0,23371,"98,45,073","98,68,444",4454.0
26,Puducherry,10.0,NaN,2149,"12,13,735","12,15,884",259.0
27,Punjab,NaN,41.0,14804,"1,24,63,019","1,24,77,823",2977.0
28,Rajasthan,205.0,174.0,81338,"1,73,27,388","1,74,08,726",14326.0
29,Sikkim,29.0,NaN,21,97189,97210,1.0
30,Tamil Nadu,281.0,76.0,82051,"2,98,42,376","2,99,24,427",24632.0
31,Telangana,138.0,112.0,NaN,NaN,NaN,6316.0
32,Tripura,NaN,3.0,9262,"6,50,026","6,59,288",750.0
33,Uttar Pradesh,207.0,128.0,"3,37,180","4,00,92,490","4,04,29,670",11853.0
34,Uttarakhand,10.0,10.0,31008,"33,12,041","33,43,049",2288.0
35,West Bengal,141.0,71.0,48767,"1,41,34,171","1,41,82,938",1347.0

In [223]:
# removing states/ut with null values across more than 3 cols
l = ['Andaman and Nicobar (Port Blair)','Lakshadweep','Leh']
final_dfs = final_dfs[~final_dfs['State Name'].isin(l)]
final_dfs = final_dfs.reset_index().drop(['index'],axis = 1)

In [225]:
# removing redundant feture
final_dfs = final_dfs.drop("Total",axis= 1)

KeyError: "['Total'] not found in axis"

In [229]:
final_dfs = final_dfs.rename(columns = {'Total Number of Invoices/Sales' : 'Total EV supported by state for adoption and manufacturing'})
final_dfs

,State Name,No. of EV Chargers Sanctioned,No of RO's where EV Charging Facility available,Total Electric Vehicle,Total Non-Electric Vehicle,Total EV supported by state for adoption and manufacturing
0,Andhra Pradesh,266.0,65.0,NaN,NaN,6393.0
1,Arunachal Pradesh,NaN,4.0,20,"2,52,965",1.0
2,Assam,20.0,19.0,64766,"46,77,053",827.0
3,Bihar,37.0,26.0,83335,"1,04,07,078",5255.0
4,Chandigarh,70.0,4.0,2812,"7,46,881",154.0
5,Chhattisgarh,25.0,51.0,20966,"68,36,200",3573.0
6,Delhi,72.0,66.0,"1,56,393","76,85,600",12850.0
7,Goa,NaN,17.0,3870,"10,71,570",614.0
8,Gujarat,278.0,87.0,45272,"2,06,05,484",5839.0
9,Haryana,50.0,114.0,37035,"1,07,78,270",4667.0
10,Himachal Pradesh,10.0,13.0,1175,"19,64,754",446.0
11,Jammu and Kashmir,25.0,3.0,2941,"18,69,962",NaN
12,Jharkhand,NaN,22.0,16811,"64,86,937",1874.0
13,Karnataka,172.0,100.0,"1,20,532","2,68,70,303",33483.0
14,Kerala,211.0,39.0,30775,"1,57,74,078",4851.0
15,Ladakh,NaN,NaN,26,38302,6.0
16,Madhya Pradesh,235.0,167.0,NaN,NaN,6306.0
17,Maharashtra,317.0,NaN,"1,16,646","3,10,58,990",20955.0
18,Manipur,NaN,1.0,586,"4,99,324",140.0
19,Meghalaya,40.0,3.0,49,"4,59,001",10.0
20,Mizoram,NaN,NaN,21,"3,15,626",NaN
21,Nagaland,NaN,2.0,58,"3,39,129",NaN
22,Odisha,18.0,26.0,23371,"98,45,073",4454.0
23,Puducherry,10.0,NaN,2149,"12,13,735",259.0
24,Punjab,NaN,41.0,14804,"1,24,63,019",2977.0
25,Rajasthan,205.0,174.0,81338,"1,73,27,388",14326.0
26,Sikkim,29.0,NaN,21,97189,1.0
27,Tamil Nadu,281.0,76.0,82051,"2,98,42,376",24632.0
28,Telangana,138.0,112.0,NaN,NaN,6316.0
29,Tripura,NaN,3.0,9262,"6,50,026",750.0
30,Uttar Pradesh,207.0,128.0,"3,37,180","4,00,92,490",11853.0
31,Uttarakhand,10.0,10.0,31008,"33,12,041",2288.0
32,West Bengal,141.0,71.0,48767,"1,41,34,171",1347.0

In [230]:
final_dfs.to_csv('data.csv', index=False)